{% extends 'base.html.twig' %}

{% block title %}Results for {{query}}{% endblock %}

{% macro gifColumnsDisplayer(results) %}
    {% set columns = 6 %}
    {% for result in results %}
        {% set source = 'https://media2.giphy.com/media/' ~ result.id ~ '/giphy.gif' %}

        {% if loop.first or loop.index0 is divisible by(columns) %}
            <div class="row">
        {% endif %}

        <div class="col-2 pt-3">
            <img class="img-fluid border-rounded rounded" src="{{source}}">
        </div>

        {% if loop.last and loop.index is not divisible by(columns) %}
            {% for n in range(low=columns - (loop.index % columns), high=1, step=-1) %}
                <div class="col-2">&nbsp;</div>
            {% endfor %}
        {% endif %}
            {% if loop.last or loop.index is divisible by(columns) %}
                </div>
            {% endif %}
        {% endfor %}
{% endmacro %}
{% macro displayGifList(results) %}
    <ul class="image-list d-none">
        {% for result in results %}
            {% set source = 'https://media2.giphy.com/media/' ~ result.id ~ '/giphy.gif' %}
            <li>
                <a download="gif_selected.gif" href="{{source}}">
                    <img class="img-fluid border-rounded rounded" src="{{source}}">
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro displayPreloader() %}
    <div id="preloaderBlock" class="text-center">
        <img class="preloader" src="{{asset('/images/preloader.gif')}}">
    </div>
{% endmacro %}
{% block body %}
    <nav class="navbar">
        <a class="navbar-brand text-white" href="{{path('index')}}">.GIF Search Engine</a>
        <form method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">GO</button>
        </form>
    </nav>
    {# {{_self.gifColumnsDisplayer(results)}} #}
    {{_self.displayGifList(results)}}
    {{_self.displayPreloader()}}
{% endblock %}

{% block javascripts %}
    <script src="{{asset('/js/onLoadSearch.js')}}"></script>
{% endblock %}
